<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel/collection.css') }}">
<title>Create collection</title>
</head>
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="menu">
                <label for="collection_preview">
                    <img src="{{ url_for('static', filename='icons/picture.svg') }}" alt="Picture frame">
                </label>
                <input type="file" class="hidden" id="collection_preview" name="collection_preview" onchange="previewImage(this)">
                <input type="text" class="heavy" name="collection_name" placeholder="Collection name" required>
                <button class="info" id="addBtn" type="button"> + Add picture</button>
                <textarea id="collection_description" name="collection_description" placeholder="Collection description"></textarea>
                <button class="success" type="submit">✓ Create collection</button>
            </div>
            <div class="content" id="content">

<!--                  <div class="card">-->
<!--                      <div class="col-left">-->
<!--                          <label for="picture_preview">-->
<!--                              <img src="{{ url_for('static', filename='icons/picture.svg') }}" alt="Picture frame">-->
<!--                          </label>-->
<!--                          <input type="file" class="hidden" id="picture_preview">-->
<!--                          <input type="text" class="heavy" placeholder="Picture name">-->
<!--                          <input type="number" placeholder="Price">-->
<!--                          <button class="warning" type="button">✖ Delete picture</button>-->
<!--                      </div>-->
<!--                      <div class="col-right">-->
<!--                          <textarea placeholder="Picture description"></textarea>-->
<!--                      </div>-->
<!--                  </div>-->

              </div>
        </form>
    </div>

          <!--<form id="uploadForm" method="post" enctype="multipart/form-data">-->
<!--  <div class="header">-->
<!--    <input type="file" name="collection_preview">-->
<!--    <input type="text" name="collection_name" placeholder="Collection name" required>-->
<!--    <input type="text" name="collection_description" placeholder="Collection description" required>-->
<!--    <button type="button" onclick="addInput()">+ Add picture</button>-->
<!--    <button>✓ Create collection</button>-->
<!--  </div>-->
<!--</form>-->
<script src="{{ url_for('static', filename='js/panel/collection.js') }}"></script>
</body>
</html>
