<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Upload Form</title>
<style>
  .preview-container {
    margin-top: 10px;
  }
  .preview-image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
  }
</style>
</head>
<body>

<form id="uploadForm" method="post" enctype="multipart/form-data">
  <input type="file" name="collection_preview">
  <input type="text" name="collection_name" placeholder="Collection name" required>
  <input type="text" name="collection_description" placeholder="Collection description" required>
  <button type="button" onclick="addInput()">Додати фото</button><button>Створити колекцію</button>
</form>

<script>
let idCounter = 0;

function addInput() {
  idCounter++;

  const inputGroup = document.createElement('div');
  inputGroup.id = `group_${idCounter}`;

  const inputFile = document.createElement('input');
  inputFile.type = 'file';
  inputFile.name = `picture_${idCounter}`;
  inputFile.addEventListener('change', function() {
    previewImage(this, `preview_${inputGroup.id}`);
  });

  const inputName = document.createElement('input');
  inputName.type = 'text';
  inputName.name = `name_${idCounter}`;
  inputName.placeholder = 'Ім\'я';

  const inputDescription = document.createElement('input');
  inputDescription.type = 'text';
  inputDescription.name = `description_${idCounter}`;
  inputDescription.placeholder = 'Опис';

  const inputPrice = document.createElement('input');
  inputPrice.type = 'number';
  inputPrice.name = `price_${idCounter}`;
  inputPrice.placeholder = 'Ціна';

  const deleteButton = document.createElement('button');
  deleteButton.textContent = 'Видалити';
  deleteButton.addEventListener('click', function() {
    inputGroup.remove();
  });

  const previewDiv = document.createElement('div');
  previewDiv.className = 'preview-container';
  previewDiv.style.display = "none";
  let previewImg = document.createElement('img');
  previewImg.className = 'preview-image';
  previewImg.id = `preview_group_${idCounter}`

  previewDiv.appendChild(previewImg);

  inputGroup.appendChild(inputFile);
  inputGroup.appendChild(inputName);
  inputGroup.appendChild(inputDescription);
  inputGroup.appendChild(inputPrice);
  inputGroup.appendChild(deleteButton);
  inputGroup.appendChild(previewDiv);

  document.getElementById('uploadForm').appendChild(inputGroup);
}

function previewImage(input, previewId) {
  let preview = document.getElementById(previewId);

  if (preview) {
    const reader = new FileReader();
    reader.onload = function(e) {
      preview.src = e.target.result;
    };
    reader.readAsDataURL(input.files[0]);
    preview.parentNode.style.display = 'block';
    return
  }
}
</script>

</body>
</html>
