@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.card .collection {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.card .collection img {
    max-width: 300px;
}

.collection .info {
    margin-left: 25px;
    display: flex;
}

.collection .info h1 {
    cursor: pointer;
    user-select: none;
}

.collection .info p {
    width: 50%;
}

.pictures .info {
    margin-left: 25px;
    display: flex;
}

.info form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-around;
}

.pictures {
    display: none;
    border-top: 1px solid black;
    margin-top: 15px;
}

.pictures img {
    max-width: 15%;
    height: auto;
}

.card.active .pictures {
    display: block;
}

.pictures .small-card {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.pictures .small-card h1 {
    font-size: 20px;
}